Flask==3.0.3
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.3.2
scipy==1.14.0
Werkzeug==3.0.4
requests==2.32.3
urllib3==2.2.2

Orange3==3.37.0

# Add PyTorch and Torchvision for using SqueezeNet
torch==2.0.1+cpu         # This version is suitable for Heroku deployment (modify if needed) CPU only, brez GPU dependencija
torchvision==0.15.2+cpu  # The corresponding torchvision version for the torch version above
